tr.collapse.in {
    display:table-row;
}

#btn-insert {
    height:20px;
    width:125px;
    font-size: 10px;
    border-radius: 4px;
    background-color: #e2efda;
}


.content-size{
    max-width: 980px;
}

.form-description{
    min-height: 180px !important;
}

.form-bottom{
    text-align: right;
    margin-top: 25px;
}

.table button{
    background: transparent;
}

.vcenter{
    vertical-align: middle !important;
}

.mt-20{
    margin-top: 20px;
}

.mr-20{
    margin-right: 20px;
}

.mb-20{
    margin-bottom: 20px;
}

.ml-20{
    margin-left: 20px;
}

.box-profile{
    padding: 30px;
}

.swal-button {
    border-radius: unset;
}

.navbar-nav>.user-menu .user-image{
    background-color: #ffffff;
    border: 2px solid #ffffff;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header>img{
    background-color: #ffffff;
}

.user-panel>.image>img{
    background-color: #ffffff;
    border: 2px solid #ffffff;
}

#main403 {
    height: 100vh;
}

.boxinitialpage{
    padding:60px 0px;

}

.box-part{
    background:#FFF;
    border-radius:10px;
    padding:60px 10px;
    margin:30px 0px;
}

.box-part:hover{
    background:#16b776;
}

.box-part:hover .fa ,
.box-part:hover .title ,
.box-part:hover .text ,
.box-part:hover a{
    color:#FFF;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}






















